$primary-color: #4caf50;
$secondary-color: #ffeb3b;
$font-family: 'Roboto', sans-serif;

// src/styles.scss
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

* {
    box-sizing: border-box;
}
